body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  text-align: center;
  background: #fff;
  color: white;
  font-size: 16px;
  line-height: 1.7;
}

.cont {
  max-width: 1140px;
  margin: 0 auto;
  padding: 20px 20px;
}

.nav span {
  color: gold;
  font-family: 'Raleway', sans-serif;
}

/* Nav */
.nav {
  background-image: url("../images/dark.jpg");
  height: 100vh;
  background-position: center center;
  background-size: cover;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav li {
  display: inline-block;
  position: relative;
  color: #f2f2f2;
  font-size: 26px;
}

.nav li a {
  padding: 10px 20px;
  text-decoration: none;
  color: #f2f2f2;
  font-size: 14px;
  font-weight: bold;
}

.nav li a:hover {
  background-color: gold;
}

.nav > .cont {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.splash-inner {
  position: absolute;
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button {
  font-weight: bold;
  font-size: 14px;
  overflow: hidden;
  outline: none;
  padding: 20px 40px;
  cursor: pointer;
}

.tt-btn {
  background-color: gold;
  background-repeat: no-repeat;
  color: white;
  border: 2px solid gold;
}

.nav h1 {
  font-size: 40px;
  font-family: 'Raleway', sans-serif;
  text-transform: capitalize;
}

.nav h2 {
  font-size: 54px;
  text-transform: uppercase;
}

/* Sections */
section {
  color: black;
}

.services h1 {
  font-weight: 800;
  font-size: 40px;
}

.services h2 {
  font-size: 14px;
  font-style: italic;
}

.services {
  padding-top: 80px;
}

.ser {
  padding-bottom: 100px;
}

.three-box {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.box {
  padding: 15px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}

.box i {
  font-size: 40px;
  background: white;
  width: 80px;
  height: 80px;
  padding: 15px;
  color: gold;
  border-radius: 50%;
  border: 2px solid gold;
}

.box i:hover {
  background: gold;
  color: white;
  cursor: pointer;
}

.three-box h1 {
  font-size: 20px;
  font-weight: 600;
}

.three-box h2 {
  font-size: 12px;
  font-style: italic;
}

.grey {
  background-color: #f7f7f7;
  padding-bottom: 80px;
}

.grey img {
  height: 240px;
  width: 220px;
  -o-object-fit: cover;
     object-fit: cover;
}

.grey p {
  font-size: 14px;
}

.white {
  background-color: white;
  padding-bottom: 10px;
  margin-top: -8px;
}

.white span {
  font-weight: 600;
  font-size: 16px;
}

/* Footer */
footer {
  padding: 18px 0;
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

footer li {
  display: inline-block;
  margin: 0 10px 0 0;
  font-size: 0;
}

footer li i {
  font-size: 20px;
  background: black;
  width: 40px;
  height: 40px;
  line-height: 2;
  padding: 10px;
  color: white;
  border-radius: 50%;
}

footer p {
  color: black;
  font-size: 12px;
}

/* Media */
@media (max-width: 767px) {
  .three-box {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (min-width: 1200px) {
  .grey img {
    height: 300px;
    width: 330px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
/*# sourceMappingURL=style.css.map */